// src/components/HomeSection/HomeSection.scss
@import "../../styles/variables";
@import "../../styles/mixins";

.home-section-wrapper {
  background-image: url("../../assets/images/bg_home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .header {
    padding: 20px;
    background-color: transparent;
    text-align: center;
    position: relative;
    @include flex-center;

    &.sticky {
      background-color: #000;
      color: #fff;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
    }
  }

  // Home section styles
  .home-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    .content {
      max-width: 1200px;
      margin: 0 auto;
      text-align: center;
      color: $primary-color;

      h1 {
        font-size: 2rem;
        margin-bottom: 20px;
      }

      .role {
        font-size: 2rem;
        margin-bottom: 30px;
        color: $secondary-color;

        .designation {
          color: $accent-color;

          .Typewriter {
            display: inline;
          }
        }
      }

      .custom-button {
        font-size: 1.5rem;
      }
    }

    @include responsive(768px) {
      .content {
        padding: 50px 20px;
      }

      h1 {
        font-size: 2.5rem;
      }

      .role {
        font-size: 1.5rem;
      }
    }
  }
}
