{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "alignObjectProperties": true,
  "functionParenNewline": false,
  "maxNestedCallbacks": 3,
  "indentChains": true,
  "jsxIndent": true,
  "spaceBeforeFunctionParen": true,
  "htmlWhitespaceSensitivity": "css",
  "quoteProps": "as-needed",
  "exclude": ["node_modules", "codepipeline"],
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 200
      }
    }
  ]
}
