// src/components/ScrollToTopButton/ScrollToTopButton.scss

@import "../../styles/variables";
@import "../../styles/mixins";

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: $primary-color;
  background: rgba(15, 12, 41, 0.8);
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  @include transition(opacity 0.3s ease, visibility 0.3s ease);

  &.visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  @media (max-width: 768px) {
    bottom: 15px;
    right: 15px;
    padding: 8px 12px;
    font-size: 1.2rem;
  }
}
