// src\components\Custom\SectionHeader\SectionHeader.scss

@import "../../../styles/variables";
@import "../../../styles/mixins";

h2 {
  font-size: 2.5rem;
  color: $primary-color;
  margin-bottom: 10px;
  padding: 0 20px;
}

.section-header {
  margin-bottom: 30px;
  span {
    font-size: 1.2rem;
    color: $secondary-color;
    display: inline-block;
    position: relative;
    margin-bottom: 10px;

    &:before,
    &:after {
      content: "";
      display: block;
      width: 50px;
      height: 2px;
      background: $secondary-color;
      position: absolute;
      top: 50%;
    }

    &:before {
      left: -60px;
    }

    &:after {
      right: -60px;
    }
  }
}

@include responsive(768px) {
  .section-header {
    span {
      &:before,
      &:after {
        width: 30px;
      }
    }
  }
}
