// src/components/SkillsSection/SkillsSection.scss
@import "../../styles/variables";
@import "../../styles/mixins";

.skills-section {
  padding: 50px 20px;
  background-color: #e0f0f2;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $primary-color;
    margin-bottom: 10px;
    padding: 0 20px;
  }

  .skills-header {
    margin-bottom: 30px;
    span {
      font-size: 1.2rem;
      color: $secondary-color;
      display: inline-block;
      position: relative;
      margin-bottom: 10px;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 50px;
        height: 2px;
        background: $secondary-color;
        position: absolute;
        top: 50%;
      }

      &:before {
        left: -60px;
      }

      &:after {
        right: -60px;
      }
    }
  }

  .skills-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;

    .skills-text {
      flex: 1;
      margin: 20px;
      text-align: left;

      h2 {
        font-size: 1.5rem;
        color: $primary-color;
        margin-bottom: 10px;
        padding: 0 20px;
      }

      p {
        font-size: 1rem;
        color: $secondary-color;
        margin-bottom: 20px;
        line-height: 1.6;
        padding: 0 20px;
      }

      .custom-button {
        margin: 0 20px;
      }
    }

    .skills-logos {
      flex: 2;
      min-width: 300px;
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
        height: 80%;
        max-width: 80px;
        margin: 10px;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }

      svg {
        max-width: 80px;
        margin: 10px;

        &:hover {
          transform: scale(1.2);
          cursor: pointer;
        }
      }
    }
  }

  @include responsive(768px) {
    .skills-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 0;

      .skills-text {
        text-align: center;
      }
    }

    .skills-header {
      span {
        &:before,
        &:after {
          width: 30px;
        }
      }
    }
  }
}
