// src/components/Header/Header.scss

@import "../../styles/variables";
@import "../../styles/mixins";

.header {
  padding: 20px;
  background-color: transparent;
  text-align: center;
  position: relative;
  @include flex-center;

  .header-content {
    width: 100%;
    max-width: 1200px;
    @include flex-center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .name h1 {
    margin: 0;
    font-size: 2.5rem;
    font-family: $header-font-family;
    background: linear-gradient(
      90deg,
      $primary-color,
      $secondary-color,
      $accent-color
    );
    @include background-clip(text);
    color: transparent;
    animation: gradient 3s infinite;
    @include transition(font-size 0.3s ease);

    &.white {
      color: white;
    }
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .nav {
    display: flex;
    gap: 20px;

    p {
      margin: 0;
      cursor: pointer;
      font-size: 1.25rem;
      font-family: $header-font-family;
      line-height: 1.5;
      font-weight: bold;
      @include transition(color 0.3s);

      &:hover {
        color: $accent-color;
      }
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    @include transition(opacity 0.3s ease);
    @include transform(translateY(-100%));

    &.open {
      opacity: 1;
      pointer-events: auto;
      @include transform(translateY(0));
    }

    .close-icon {
      position: absolute;
      top: 20px;
      right: 20px;
      font-size: 2rem;
      cursor: pointer;
    }

    p {
      margin: 0;
      font-size: 1.5rem;
      cursor: pointer;
      @include transition(color 0.3s);

      &:hover {
        color: #aaa;
      }
    }
  }

  @media (max-width: 768px) {
    .nav {
      display: none;
    }

    .menu-icon {
      display: block;
    }

    .header-content {
      flex-direction: row;
      justify-content: space-between;
    }

    .name h1 {
      font-size: 2rem;
    }
  }
}
