// src/components/Footer/Footer.scss

@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  padding: 20px;
  background-color: $primary-color;
  color: #fff;
  text-align: center;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    @include flex-center;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }

  .nav p {
    margin: 0;
    cursor: pointer;
    font-size: 1rem;
    @include transition(color 0.3s);

    &:hover {
      color: #aaa;
    }
  }

  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
    }
  }
}
