// src\components\Custom\CustomButton\CustomButton.scss

@import '../../../styles/variables';
@import '../../../styles/mixins';

.custom-button {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  @include transition(all 0.3s);

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}
